*{
    box-sizing: border-box;
}

:root{
    --primary-color:#FFF;

}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;

}
/* =====================common=============== */
a{
    text-decoration: none;
    color: inherit;
}

.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    
}

/* ==============header============ */

.header {
    z-index: 1;
    position:sticky;
    top: -40px;
       background:  #FFF;
}
.header .body{
    display: flex;
    align-items: center;
    padding: 52px 0 8px ;
}
.nav{
    margin-left: auto;
}
.nav ul{
    display: flex; 
    
}
.nav li {
     padding: 8px 19.5px;
}
.nav a{
    color: #2F3A3B;
    font-size: 1.6rem; 
    font-weight: 400;  
}
.nav a:hover{
    font-weight: 600;
    text-shadow: 1px 0  0   currentColor;
}

.header .action{
    margin-left: 135px;
}
.header .cta-btn { 
     padding: 12px 24px ;
     box-sizing: border-box;
     color: #494949;
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid transparent;
}
.header .cta-btn:active{
    border: 1px solid #1EBFC1;
    color: #1EBFC1;
    font-size: 1.6rem;
    font-weight: 600;
}
/* ==================hero================ */
.hero {
    padding-top: 48px;  
    padding-bottom: 79px; 
}

.hero .body{
    display: flex;
}

.hero .content-left h2 {
    margin-top: 93px;
    color: #767E7E;    
    font-size: 1.4rem;
    font-weight: 400;

}

.hero .content-left h1{
    color: #0D1111;
    margin-top: 18px;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}


.hero  .desc{
    width: 100%;
    color: #9DA6A5;
    margin-top: 46px;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
}
.hero  .cta-ground{
    margin-top: 72px;
    padding-top: 0;
}
.hero .content-left .hero-cta{
    color: var(--primary-color);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 21px 41px;
    background: #1EBFC1;
    border-radius: 14px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .content-left .video {
   border: none;
   margin-left: 50px;
   width: 62px;
   height: 62px;
   border-radius: 62px;
    background:var(--primary-color);
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);

}

.hero .content-right{
    margin-left: 96px;
    width: 49%;
    position: relative;
}
.hero .people{
    background-color: #E0F7F6;
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .box1{
    padding: 17px 25px 18px 25px ;
    top: 149px;
    left: -40px;
    border-radius: 18px;
    position: relative;
    align-items: center;
    justify-content: center;
}
.hero .box1 .book{
    padding-right: 16px;
}
.hero .box1 .bar{
    position: absolute;
    top: 45px;
    left: 29px;
}
.hero .box1 .text{
    width: 55px;
}
.hero .box{
    display: flex;
     justify-content: flex-start;
    align-items: center;
    position: absolute;
    background:#FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    color: #0D1111;
    font-size: 1.0rem ;
    font-weight: 500;
}

.hero .box2 {
    top: 453px;
    left: -65px;
    flex-direction: column;
    gap: 12px;
    width: 124px;
    height: 132px;
    padding: 16px 25px;
    border-radius: 24px;
}
.hero .box2 .btn-cta{
    width: 26px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #EDF1F5;
}

.hero .box3{
    top: 500px;
    left: 324px;
    flex-direction: column;
    padding: 17px 35px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
}

.hero .box3 .info {
    display: flex;
    padding-top: 8px;
}
.hero .box .avatar{
    margin-left: -10px;
     width: 33px;
    height: 33px;
    border-radius: 33px;
    background:   cover no-repeat;
    border: none;
}
.hero .box3 .avatar1{
    background: #1EBFC1;
    
}

.hero .box3 .avatar4{
    background:#FF947A;
}

.hero .box3 .avatar2{
    background:#BF83FF;
}

.hero .box3 .avatar3{
    background: #FFC147;
}
.hero .box3 .other{
     background-color:  #1EBFC1;
     color: #FFF;
    text-align: center;
    padding: 9px 5px;
    font-size: 1.0rem;
    font-weight: 500;
}

/*  =================features================ */
.features {
    padding: 130px 8px ;
    
}

.features .text{
    padding-bottom: 80px;
    width: 591px;
    height: 220px;
}
.features h2{
    color: #0D1111;
    padding-bottom: 18px;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}

.features .text .desc{
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
}

.features .feature-selection{
    display: flex;
    gap: 200px;
}

.features .gr{
    width: 223px;
    height: 259px;
}

.features  .gr .name-gr{
    color: #0D1111;
    padding-top: 26px;
    font-size: 2.0rem;
    font-weight: 600;
}

.features .gr .desc-gr{
    padding-top: 16px;
    color: #9DA6A5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}

.features .icon{
    width: 102px;
    height: 106px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features .icon-Live_Class{
    background-color:#FFC147;
}
.features .icon-discuss{
    background-color: #FF947A;
}

.features .icon-task{
    background-color: #BF83FF;
}

/* =============courses============ */
.courses{
    padding: 0 8px;

}
.courses .text {
    padding-top: 36px;
    padding-bottom: 79px;
}
.courses h2{
    padding-bottom: 19px;
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
}
.courses .desc{
    display: flex;
    justify-content: space-between;
}

.courses .desc-courses{
    max-width: 525px;
    width: 100%;
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */

}
.courses .desc a{
    color: #1EBFC1;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.courses .view-courses{
   display: flex;
    gap: 30px;
}


.courses .view-courses .image{
    position: relative;
    overflow: hidden;
    width: 359px;
    height: 393px;
}

.courses .image .ovelay{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0.35;
    background: #cef6f3;
}

.courses .card {
    border-radius: 8px;
    display: block;
    position: relative;

}
.courses  .info-courses  {
     box-sizing: border-box;
     position: absolute;
     left:17px;
     top: 322px;
    padding: 29px 82px 29px 25px ;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
  
}

.courses .info-courses .title{
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses .info-courses .price{
    color: #767E7E;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 16px;
}

    .courses .info-courses span{
        color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}
.courses .info-courses .name{
    margin-top: 6px;
    color: #9DA6A5;
    font-size: 1.4rem;
    font-weight: 400;
}

.courses .info-courses .info{
    display: flex;
    gap: 10px;
    padding-top: 18px;
    padding-bottom: 29px;
}

/* ===================countdown========== */

.countdown {
    padding: 264px 154px;
    
}
.countdown  .body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.countdown .gr .number{
    color: #0D1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.countdown .gr .desc{
    margin-top: 11px;
    color: #767E7E;
    text-align: center;
    font-size: 1.8rem;
}

/* ============testimonial==========*/

.testimonial{
    padding: 0 8px;
    display: flex;

}
.testimonial .body{
    display: flex;
    flex-wrap: wrap;
}
.testimonial .content{
   padding: 37px 0 37px;
}
.testimonial .content .text{
    max-width: 419px;
    width: 100%;
    margin:auto 0;
    padding: 27px 0 33px 0; 
    color: #5D6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 150%; /* 150% */
}
.testimonial .reviewer {
    display: flex;
    align-items: center;
    gap: 8px;
}
.testimonial .desc{
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}
.testimonial  .desc::before{
    content:'';
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;

}
.testimonial .reviewer span{
    color: #767E7E;
    font-size: 1.6rem;
    font-weight: 400;
}

.testimonial  .nav{
    display: flex;
    gap: 30px;
    margin: auto 0;
    padding-top: 52px;
}

.testimonial .nav-cta{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #2AC9BF;
}

.testimonial .images{
    position: relative;
    display: flex;
    width: 679px;
    height: 481px;
    flex-shrink: 0;
}
.testimonial .avatar1 img{
    position: absolute;
    top: 258px;
    background:   cover no-repeat;
    border: none;
    width: 78px;
    height: 78px;
    border-radius: 78px;
    background: #1EBFC1;
}
.testimonial .avatar2 img{
        position: absolute;
        left: 144px;
        background:   cover no-repeat;
        border: none;
        width: 92px;
        height: 92px;
        border-radius: 92px;
        background: #eecf50;
    }
.testimonial .avatar3 img{
    position: absolute;
    top: 107px;
    right: 171px;
    bottom: 139px;
    left: 173px;
    background:   cover no-repeat;
    border: none;
    width: 235px;
    height:235px;
    border-radius:235px;
    background: #ddee8f;
}
.testimonial .avatar4 img{
    position: absolute;
    top: 19px;
    bottom: 352px;
    left: 529px;
    background:  cover no-repeat;
    border: none;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    background: #e3a85b;
}
.testimonial .avatar5 img{
    position: absolute;
    top: 403px;
    left: 389px;
    right: 212px;
    background:  cover no-repeat;
    border: none;
    width: 78px;
    height: 78px;
    border-radius: 78px;
    background: #e36d5b;
}
.testimonial .avatar6 img{
    position: absolute;
    left: 22px;
    bottom: 22px;
    left: 569px;
    background:  cover no-repeat;
    border: none;
    width: 78px;
    height: 78px;
    border-radius:78px;
    background: #98dcdb;
}

/* ========ready===== */
.ready {
    margin-top: 130px;
    background-color: #DEF6F5;
}
.ready .body{
    padding: 36px 0  88px 111px;
}
.ready .main-content{
    display: flex;
    justify-content: center;
       align-items: center;
}
.ready .content h2{
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 18px;
}
.ready .content .desc{
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
}

.ready .main-content button{
    margin-left: 410px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #2AC9BF;
    border: none;
}